@font-face {
    font-family: dense;
    src: url('../fonts/Dense-Regular.otf');
}
@font-face {
    font-family: roboto;
    src: url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: roboto-condensed;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	width: 100%;
	height: 100vh;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
ul{
	width: 100%;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;	
	font-family: roboto-condensed;
}
ul{
	margin:0;
	padding:0;
}

/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav a { text-decoration: none; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav > li > a {
	position: initial;
	display: block;
	z-index: 510;
	height: 54px;
	padding: 0 20px;
	line-height: 54px;
	
	color: #fcfcfc;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.nav > li > a:hover {
	background-color: #fff;
}
/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	display: block;
	width: 20%;
	top: 104%;
	right: 0;
	font-family: roboto;
	font-size: 1.1vw;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: black;
	border-radius: 0 0 3px 3px;
/*
	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;*/
}

.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	width:46vw;
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.2);
}
.nav > li > div:after{
	content: "";
	position: absolute;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: -2.5%;
	right: 33px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent black black transparent;
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
	width: 25%;
	padding: 1.5%;
}

.nav .nav-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	font-weight: bold;
	font-size: 1.5vw;
	color: white;
	font-family: roboto;
}

.nav .nav-column li a {
	display: block;
	line-height: 26px;
	color: white;
}

.nav .nav-column li a:hover { color: rgb(48,178,235); }

/* Dropdown END*/

.banner{
	background:rgb(48,178,235) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:100vh;
	width: 100%;
}
.myfont{
	font-family: dense;
}
.myfont2{
	font-family: roboto;
}
.myfont3{
	font-family: roboto-condensed;
}
.mycolor{
	color: rgb(27,25,24);
}
.mycolor2{
	color: rgb(48,178,235);
}
.myheader{
	background-color: white;
	margin-bottom: 0px;
}
.logo{
	width: 200px;
	height: auto;
	margin-top: 1vh;
	margin-left: 1.1%;
}
.list{
	font-size: x-large;
}
/*Title*/
.home{
	margin-top: 30vh;
}
.mainTitle{
	color: white;
	font-size: 137px;
	margin-left: 1vw;
}
.subTitle{
	margin-left: inherit;
}
.upperHeader{
	color: white;
    margin-left: -1vw;
    margin-top: 5vh;
    font-size: 28px;
}
.midSegment{
	color: white;
	width: 24vw;
	position: absolute;
	margin-top: 12vh;
}
.lowerHeader{
	color: white;
	text-align: left;
	font-size: 28px;
	position: absolute;
	margin-top: 10vh;
    margin-left: -1vw;
}
/* End Ttile*/

	/* Lower Icons */
.iconText{
	text-align: center;
	font-size: 19px;
	color: white;
	margin-top: 3vh;
}
.lowerIcons{
	position: relative;
	display: inline-flex;
	margin-top: 14vh;
	float: right;
	right: 2vw;
}
.hover-icon {
	border: 5px solid white;
	border-radius: 5px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    margin-left: auto;
    height: 60px;
    width: 75px;
    text-align: center;
}
.hover-icon:hover {
    transform: translateY(-1px);
}
/*END Lower Icons*/

/*Next Pages*/
.next{
	margin-top: 15vh;
}
.page-text-headline{
	font-size: 29px;
	margin-bottom: 4vh;
}
.page-text{
	font-size: 17px;
	text-align: justify;
}
.page-list{
	margin-left: 1.5vw;
	margin-top: 2%;
}
.page-list ,li{
	margin-top: 2%;
}
.page-image{
	float:right;
}
.page{
	margin-left: 0;
}
.page-headline-hr{
	font-size : 26px; 
}
.myhr{
	background-color: rgb(48,175,235) !important;
    border: solid 1px !important;
    height: 2px !important;
    width: 14px !important;
    margin-top: .9vh;
}

/* Clients Logo */
.container-logo{
	justify-content: space-between;
    transition: 1s cubic-bezier(.19,1,.22,1);
    will-change: transform;
    filter: url(data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter);
    filter: blur(0);
}
.container-logo a {
	display: block;
}

.container-logo ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
}
.container-logo .common-Button {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 45%;
    transform: translate(-50%,5px) scale(.95);
    opacity: 0;
    transition: .7s cubic-bezier(.19,1,.22,1);
}
.common-Button--default {
    color: #fff;
    background: rgb(48,178,235);
}
.common-Button--default:hover .animate-scale  {
	transform: scaleX(1.2);
	transform-origin: left;
	transition: transform 0.2s;
}
.common-Button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;
}
.common-Button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.container-logo a:hover ul{
	opacity:.7;
	transform:scale(.95);
	filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	filter:blur(10px)
}
.container-logo a:hover .common-Button{
	opacity:1;
	transform:translate(-50%,-7px)
}
.common-Button--default:hover .animate-scale{
	transform: translateX(10px);
	visibility: visible;
	transform-origin: left;
	transition: transform 0.2s visibility 0.2s
}
/* Clients Logos END*/

.menu-link .animate{
	opacity: 0;
}
.menu-link:hover .animate{
	transform: translateX(5px);
	opacity: 1;
	transition: opacity .5s, transform 1s;
}
.mystyle{
	list-style: none;
	margin-left:0; 
}
.hidden-hower{
	pointer-events: none;
}

/*END*/

/*footer*/
.footer-grids{
	background: #282828;
    padding: 20px 0;
}
p.footer-gd {
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 2px;
}
p.footer-gd a {
	color: #0099e5;
}
.w3l-footer{
	float:left;
}
.w3l-footer h3, .w3l-footer h2 {
    font-size: 1.2em;
    color: rgb(255,255,255);
}
p.adam{
	float:right;
	color:#6F6E6E !important;
	font-size:13px !important;
	margin-top:20px;
}
.w3l-footer.one p{
	color: #828282;
    line-height: 28px;
    font-size: 13px;
}
.w3l-footer.two ul{
	margin:0;
	padding:0;
}
.w3l-footer.two ul li{
	list-style-type:none;
	display:block;
    line-height: 1.5em;
	font-size:13px;
	margin: 18px 0;
}
.w3l-footer.two ul li i {
    font-size: 13px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
    color: #fff;
    background: #6E65F1;
    padding: 9px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    width: 30px;
    height: 30px;
}
.w3l-footer.two ul li i.fa.fa-facebook {
	background:#5d82d2;
}
.w3l-footer.two ul li i.fa.fa-twitter {
	background:#3bbef5;
}
.w3l-footer.two ul li i.fa.fa-google-plus {
	background:#ea5d4b;
}
.w3l-footer.two ul li i.fa.fa-dribbble {
	background:#f7659b;
}
.w3l-footer.two ul li i.fa.fa-pinterest-p {
	background:#e23139;
}
.w3l-footer.two ul li a{
	color: rgb(127,127,127);
    display: block;
    text-decoration: none;
    font-size: 13px;
}
.w3l-footer.one {
    padding-right: 40px;
}
i.fa-envelope-o {
	float:left;
}

.copy-right-grids {
	padding: 20px 0px;
    background: #211E1E;
}
.copy-left{
	text-align:center;
}
.copy-right ul li a:hover,.w3l-footer.three ul li a:hover{
	color:#0099e5;
}
.w3l-footer.two ul li:nth-child(1) a:hover {
	color:#5D82D2;
}
.w3l-footer.two ul li:nth-child(2) a:hover {
	color:#3bbef5;
}
.w3l-footer.two ul li:nth-child(3) a:hover {
	color:#ea5d4b;
}
.agileinfo_footer_grid ul li{
	list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.8em;
    color: #999;
	list-style: none;
}
.agileinfo_footer_grid ul li span{
	left:-1em;
}
.agileinfo_footer_grid ul li a{
	color:#999;
	text-decoration:none;
}
.agileinfo_footer_grid ul li a:hover{
	color: #fff;
}
.agileinfo_footer_grid1{
	float:left;
	width:31.45%;
	margin:0 0.3em .3em 0em;
}
/*Footer END*/

	/*Responsive*/

@media(max-width: 1200px){
	.mainTitle{
		font-size: 120px;
	}
	.upperHeader{
		margin-top: 3vh;
	    font-size: 2.9vw;
	}
	.midSegment{
		width: 30vw;
		margin-top: 8vh;
	}
	.lowerHeader{
		font-size: 2.9vw;
		margin-top: 7vh;
	}
}
@media(max-width: 992px){
	.mainTitle{
		font-size: 120px;
	}
	.subTitle{
		margin-left: 1vw;
	}
	.home{
		margin-top: 20vh;
	}
	.upperHeader{
		margin-top: 4vh;
	    font-size: 15px;
	}
	.midSegment{
		width: 30vw;
		margin-top: 8vh;
	}
	.lowerHeader{
		font-size: 2.9vw;
		margin-top: 5vh;
	}
}
@media only screen and (max-width: 768px){
	.mainTitle{
		font-size: 100px;
	}
	.home{
		margin-top: 20vh;
	}
	.upperHeader{
		margin-top: 3vh;
	    font-size: 15px;
	}
	.subTitle{
		margin-left: 1vw;
	}
	.midSegment{
		width: 42vw;
		margin-top: 7vh;
	}
	.lowerHeader{
		font-size: 15px;
		margin-top: 6vh;
	}
	.mob-space{
		margin-top: 50px;
	}
	.page-text, .page-text-headline,img{
		text-align: center;
		list-style: none;
	}
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}
/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}
	/*End Responsive*/